:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    background-color: #f0f2f5;
  color: #213547;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  direction: ltr; 
}

#root {
  max-width: 900px;
  margin: 0 auto; 
  padding: 2rem;
  text-align: left; 
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center; 
}